<div class="page-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">This is Betsy</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/addMovie" title="Sign in">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add a new movie
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>