<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/betsy_logo_white.png" width="30" height="30" class="d-inline-block align-top" alt="">
            This is Betsy Inc.
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/demo" title="Demo">
                        Demo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" title="About">
                        About Betsy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" title="Contact">
                        Contact us
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if (user == null) { %>
                    <li>
                        <a href="/" title="Sign In">
                            <span class="glyphicon glyphicon-plus"></span>
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Register">
                            <span class="glyphicon glyphicon-plus"></span>
                            Register
                        </a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/" title="Log out">
                            <span class="glyphicon glyphicon-plus"></span>
                            Log out
                        </a>
                    </li>
                <% } %>
            </ul>

        </div>


    </div>
</nav>

<!--
<div class="page-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">This is Betsy</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/addMovie" title="Sign in">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add a new movie
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
-->